<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuc.mapper.GoodsMapper">

	<select id="selectKind" resultType="com.nuc.bean.Goods"
		parameterType="java.lang.String">
		select * from goods where
		goods_catelog_id=#{catelog_name}

	</select>
	<select id="selectSome" resultType="com.nuc.bean.Goods"
		parameterType="java.lang.String">
		select * from goods where
		goods_name
		like
		'%#{goods_name}%'
	</select>
	<select id="selectComment" resultType="com.nuc.bean.Comment"
		parameterType="java.lang.Integer">
		select * from comment
		where
		comment_goods_id=#{comment_goods_id} and
		comment_status=1
	</select>
	<select id="selectOne" resultType="com.nuc.bean.Goods"
		parameterType="java.lang.Integer">

		select * from goods where
		goods_id=#{goods_id}
	</select>
	<insert id="addGoods" parameterType="com.nuc.bean.Goods">
		insert
		into
		goods(goods_catelog_id,goods_name,goods_discription,goods_picture,goods_price,goods_amount)
		value(#{oods_catelog_id},#{goods_name},#{goods_discription},#{goods_picture},#{goods_price},#{goods_amount})
	</insert>
	<update id="updateGoodsById" parameterType="com.nuc.bean.Goods">

		update goods set
		goods_amount=#{goods_amount} where
		goods_id=#{goods_id}
	</update>
	<delete id="deleteGoodByID" parameterType="java.lang.Integer">
		delete from goods
		where goods_id=#{goods_id}
	</delete>
	<update id="updateGoodPropertiesById"
		parameterType="com.nuc.bean.Goods">
		update goods
		<set>
			<if test="goods_catelog_id!=null">
				goods_catelog_id=#{goods_catelog_id}
			</if>
			<if test="goods_name!=null">goods_name=#{goods_name}</if>
			<if test="goods_discription!=null">goods_discription=#{goods_discription}</if>
			<if test="goods_picture!=null">goods_picture=#{goods_picture}</if>
			<if test="goods_price!=null">goods_price=#{goods_price}</if>
		</set>
		where goods_id=#{goods_id}
	</update>
</mapper>